<div *ngIf="bigChart$ | async as areaChart">
  <db-widgets-area  [data]="areaChart"></db-widgets-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <db-widgets-card label="Users" total="18k" percentage="30" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Users Registered" total="2k" percentage="3" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Users Retained" total="12k" percentage="1" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Referrals" total="1k" percentage="10" [data]="cardCharts"></db-widgets-card>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex=60>
    <db-widgets-table [data]="tableData"></db-widgets-table>
  </div>
  <div fxFlex=40 *ngIf="(pieChart$ | async) as pieData">
    <db-widgets-pie [data] = "pieData"></db-widgets-pie>
  </div>
</div>
<br>
<mat-divider></mat-divider>
