<div>
  <db-widgets-area  [data]="bigChart"></db-widgets-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <db-widgets-card label="Users" total="18k" percentage="30" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Users Registered" total="2k" percentage="3" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Users Retained" total="12k" percentage="1" [data]="cardCharts"></db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card label="Referrals" total="1k" percentage="10" [data]="cardCharts"></db-widgets-card>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex=60>
    <db-widgets-table></db-widgets-table>
  </div>
  <div fxFlex=40>
    <db-widgets-pie [data] = "pieChart"></db-widgets-pie>
  </div>
</div>
