<div>
  <db-widgets-area></db-widgets-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <db-widgets-card>

    </db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card>

    </db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card>

    </db-widgets-card>
  </mat-card>
  <mat-card fxFlex="25">
    <db-widgets-card>

    </db-widgets-card>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>

<div>
  <div>Table</div>
  <div>PieChart</div>
</div>
